In [1]:
a = "Hola Mundo!"
print(a)

Hola Mundo!

In [3]:
# Recordemos los tipos de datos básicos que existen en Python
# Existen los Strings(str), que son texto contenido entre comillas “ “
String = "Texto"

# Los enteros(int), que como su nombre lo dice, son números positivos o negativos sin decimales
Integer = 3

# Los flotantes(float), que son números reales con decimales
Float = 1.5

# Los booleanos(bool), que son datos categóricos SI o NO, 1 o 0, VERDADERO o FALSO
Boolean = False

# Recordemos que las tuplas, son colecciones ordenadas e inmutables, y podrás reconocerlas por estar contenidas entre paréntesis ( )
Mi_tupla = ( String, Integer, Float, Boolean)
print(Mi_tupla)

('Texto', 3, 1.5, False)

In [4]:
lista = [1, 2, 3]
print(lista)

[1, 2, 3]

In [5]:
Mi_lista = list(Mi_tupla)
print(Mi_lista)

['Texto', 3, 1.5, False]

In [13]:

# Creamos la clase
class Calculadora:
	# Inicializamos los valores a trabajar
	def __init__(self, valor_1, valor_2):
		self.valor_1 = valor_1
		self.valor_2 = valor_2

	# Definimos el método para sumar
	def suma(self):
		return self.valor_1 + self.valor_2

	# Para definir la resta y multiplicación solo hay que modificar el signo …

	# Ahora definamos la función para la división haciendo uso de if
	def division(self):
		# Si el valor de valor_2, que será nuestro denominador es diferente que 0, podemos realizar la división, sino el resultado será indefinido
	# Usar != Significa lo mismo que “Diferente que”
		if self.valor_2 != 0:
			return self.valor_1 / self.valor_2
		else:
			return "El resultado de esta división es indefinido"

# Ahora permitamos al usuario ingresar los valores a evaluar
print("Ingresa los números a evaluar")
valor_1 = int(input("Ingresa el primer número"))
valor_2 = int(input("Ingresa el segundo número"))

# Pasemos los valores ingresados a nuestra clase
calc = Calculadora(valor_1, valor_2)

# Usemos los métodos que creamos, para obtener los resultados
print("La suma de los valores es: ", calc.suma())
print("La división de los valores es: ", calc.division())

Ingresa los números a evaluar
Ingresa el primer número1
Ingresa el segundo número2
La suma de los valores es:  3
La división de los valores es:  0.5

In [18]:
dic = {"Alemania":"Berlin"}
print(dic["Alemania"])

Berlin

In [ ]:
for i in len(Mi_lista):

In [1]:
string = "Texto"
Integer = 3
Float = 1.5
Boolean = False

In [2]:
Mi_tupla = (string, Integer, Float, Boolean)
print(Mi_tupla)

('Texto', 3, 1.5, False)

In [2]:
l = [1, 2, 3]
l.sort()
l[len(l)//2]

2

In [6]:
print(reversed(list(range(1, 11))))

<list_reverseiterator object at 0x0000026D8C16CD60>

In [7]:
list(range(10, 1, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [8]:
list(reversed(range(1, 11)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
list = [2, "apple", 3.5]
list[1] == "orange"

False

In [11]:
list = [1, 2, 3, 4, 5]
list.remove(2)
print(list)

[1, 3, 4, 5]

In [13]:
y = "stuff;thing:"
z = y.split(";")
len(z)

2

In [16]:
x= 1
y = {x : x*x for x in range(1, 100)}
print(y)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801}